%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{image_url @video.large_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: #{@video.average_rating}/5.0
        %p= @video.description
        .actions
          = link_to_unless hide_add_to_queue_link, "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: "btn btn-default" do |name| 
            In Your Queue            
%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for [@video, Review.new] do |f|
        %fieldset
          .form-group
            %label Rate this video
            .row
              .col-sm-3
                = f.select :rating, options_for_review_rating, {}, {class: 'form-control'}
          .form-group
            %label Write Review
            .row
              .col-sm-8
                = f.text_area :content, rows: 6, class: 'form-control'
        %fieldset.form-group.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          = link_to "Cancel", @video
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          = render "reviews/show", {review: review}

